body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(https://img.freepik.com/free-photo/buns-spoon-powder_23-2147742724.jpg?size=626&ext=jpg&ga=GA1.1.783724358.1697279446&semt=ais) no-repeat center center fixed;
  background-size: cover;
}



header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color:#008000;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration:aqua;
}

nav a:hover {
  text-decoration: underline;
}

/* App.css */

/* Style the home container */
.home-container {
  max-width:800px;
  max-height: 800px;
  border: 3px solid teal;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding to the container */
  background-color: #f7f7f7; /* Background color of the container */
}

