/* HomePage.css */
.container {
  background-image: url("https://img.freepik.com/free-photo/different-types-bread-made-from-wheat-flour_140725-5648.jpg?size=626&ext=jpg&ga=GA1.1.783724358.1697279446&semt=ais");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:008080; /* Change text color to a dark color (e.g., dark gray) */
  text-align: center;
  padding: 80px 0; /* Adjust top and bottom padding, leave 0 for left and right padding */
  max-height: 700px; /* Adjust the container height (viewport height) */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: center; /* Horizontally center content */
}

h1 {
  font-size: 3em; /* Increase font size for the h1 element */
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #FF5733; /* Change the h1 text color (e.g., orange) */
}

p {
  font-size: 1.2em;
  margin-top: 20px;
}
